# dependencies
/node_modules
*.log
*.yarn
/src
/test
/html
/example
/server
/experiment
/doc
/config
/tsconfig.json
README.md
App.tsx
test.js
.babelrc
.gitignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

package-dev.json
package-prod.json
package-lock.json

.eslintrc.js

./index.html
./test.js
./test.ts
./index copy.html

/test

.vscode

./TODO

/examples

/scripts

/images