.example3 {
  margin: 100px;
  border: 1px solid #000;
}

.example3 li {
  position   : relative;
  min-height : 30px;
  border     : 1px dashed #000;
  margin     : 0 10px;
  list-style : none;
  line-height: 30px;
}

.example3 li::after,
.example3 li::before {
  width   : 100%;
  height  : 10px;
  content : '';
  display : block;
  position: absolute;
}

.example3-enter-top::before {
  top       : 0;
  background: rgb(184, 149, 255);
}

.example3-enter-bottom::after {
  bottom    : 0;
  background: rgb(184, 149, 255);
}