* {
  margin : 0;
  padding: 0;
}

.change-button {
  padding      : 10px 0;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.app-button {
  margin: 0 10px;
}

.app-button-selected {
  box-shadow: 0 0 5px 1px red
}

.hover {
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, 1)
}

.dragging {
  opacity: 0.5;
}

.dragEnter {
  box-shadow: 0px 0px 5px 1px rgba(181, 206, 255, 1)
}